body{
    margin: 40px;
    background-color:  #e2dddd;
    font-family: Arial, sans-serif;
    height:  100vh;
    margin:0;
    justify-content: center;
    align-items: center;
}

.styled-box {
      background-color: rgb(232, 158, 158);
      border: 5px outset rgba(2, 49, 52, 0.7);
      margin:20px;
      padding: 20px;
      border-radius: 20px;
      align-items: center;
    }

    .styled-box:hover{
        background-color: #bc6868;
        border: 3px inset rgba(2, 49, 52, 0.7);
        box-shadow: 0 0 100px rgba(7, 10, 10, 0.5);
    }